<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link href="~/css/cssadmin/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/cssadmin/datepicker3.css" rel="stylesheet">
    <link href="~/css/cssadmin/bootstrap-table.css" rel="stylesheet">
    <link href="~/fonts/themify-icons/themify-icons.css" rel="stylesheet">

    <link href="~/css/cssadmin/styles.css" rel="stylesheet">
    <link href="~/css/cssadmin/modal.css" rel="stylesheet">
    <link href="~/css/cssadmin/notification_admin.css" rel="stylesheet">
    
    <!--Icons-->
    <script src="~/js/lumino.glyphs.js"></script>

</head>

<body>

    <header>


       






        <div class="notifications">
            <div class="icon_wrap "><i class="ti-bell"></i>
                <span class="badge">3</span>
            </div>

            <div class="notification_dd">
                <ul class="notification_ul">
                    <li class="starbucks success">

                        <div class="notify_data">
                            <div class="title">
                                Lorem, ipsum dolor.
                            </div>
                            <div class="sub_title">
                                Lorem ipsum dolor sit amet consectetur.
                            </div>
                        </div>
                        <div class="notify_status">
                            <p>Success</p>
                        </div>


                    </li>

                    <li class="baskin_robbins failed">

                        <div class="notify_data">
                            <div class="title">
                                Lorem, ipsum dolor.
                            </div>
                            <div class="sub_title">
                                Lorem ipsum dolor sit amet consectetur.
                            </div>
                        </div>
                        <div class="notify_status">
                            <p>Failed</p>
                        </div>
                    </li>

                    <li class="baskin_robbins failed">

                        <div class="notify_data">
                            <div class="title">
                                Lorem, ipsum dolor.
                            </div>
                            <div class="sub_title">
                                Lorem ipsum dolor sit amet consectetur.
                            </div>
                        </div>
                        <div class="notify_status">
                            <p>Failed</p>
                        </div>
                    </li>

                    <li class="show_all">
                        <p class="link">Show All Activities</p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="profile">
            <div class="icon_wrap">
                <img src="~/images/avatar.png" alt="profile_pic">
                <span class="name">John Alex</span>
                <i class="ti-angle-down"></i>
            </div>

            <div class="profile_dd">
                <ul class="profile_ul">


                    <li><a class="settings" href="profile_user.html"><span class="picon"><i
                                    class="ti-settings"></i></span>Settings</a></li>

                    <li><a class="logout" href="#"><span class="picon"><i class="ti-power-off"></i></span>Logout</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="popup">
            <div class="shadow"></div>
            <div class="inner_popup">
                <div class="notification_dd">
                    <ul class="notification_ul">
                        <li class="title">
                            <p>All Notifications</p>
                            <p class="close"><i class="ti-close" aria-hidden="true"></i></p>
                        </li>
                        <li class="starbucks success">
                            <div class="notify_data">
                                <div class="title">
                                    Lorem, ipsum dolor.
                                </div>
                                <div class="sub_title">
                                    Lorem ipsum dolor sit amet consectetur.
                                </div>
                            </div>
                            <div class="notify_status">
                                <p>Success</p>
                            </div>
                        </li>
                        <li class="baskin_robbins failed">

                            <div class="notify_data">
                                <div class="title">
                                    Lorem, ipsum dolor.
                                </div>
                                <div class="sub_title">
                                    Lorem ipsum dolor sit amet consectetur.
                                </div>
                            </div>
                            <div class="notify_status">
                                <p>Failed</p>
                            </div>
                        </li>
                        <li class="mcd success">

                            <div class="notify_data">
                                <div class="title">
                                    Lorem, ipsum dolor.
                                </div>
                                <div class="sub_title">
                                    Lorem ipsum dolor sit amet consectetur.
                                </div>
                            </div>
                            <div class="notify_status">
                                <p>Success</p>
                            </div>
                        </li>
                        <li class="baskin_robbins failed">

                            <div class="notify_data">
                                <div class="title">
                                    Lorem, ipsum dolor.
                                </div>
                                <div class="sub_title">
                                    Lorem ipsum dolor sit amet consectetur.
                                </div>
                            </div>
                            <div class="notify_status">
                                <p>Failed</p>
                            </div>
                        </li>
                        <li class="pizzahut failed">

                            <div class="notify_data">
                                <div class="title">
                                    Lorem, ipsum dolor.
                                </div>
                                <div class="sub_title">
                                    Lorem ipsum dolor sit amet consectetur.
                                </div>
                            </div>
                            <div class="notify_status">
                                <p>Failed</p>
                            </div>
                        </li>
                        <li class="kfc success">

                            <div class="notify_data">
                                <div class="title">
                                    Minh Trí
                                </div>
                                <div class="sub_title">
                                    Đã đăng nhập thành công
                                </div>
                            </div>
                            <div class="notify_status">
                                <p>Success</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>




    </header>

    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">

        <ul class="nav menu">
            <li class="active">
                <a href="admin.html">
                    <svg class="glyph stroked dashboard-dial">
                        <use x link:href="#stroked-dashboard-dial"></use>
                    </svg> Dashboard
                </a>
            </li>
            <li>
                <a asp-action="FarmerAdmin" asp-controller="AccountAdmin">
                    <svg class="glyph stroked male user ">
                        <use xlink:href="#stroked-male-user" />
                    </svg>Quản lý chủ hộ
                </a>
            </li>
            <li>
                <a asp-action="CooperativeAdmin" asp-controller="CooperativeRoomAdmin">
                    <svg class="glyph stroked star">
                        <use xlink:href="#stroked-star" />
                    </svg>Quản lý hộp tác xã
                </a>
            </li>
            <li>
                <a asp-action="ChartPondAdmin" asp-controller="PondAdmin">
                    <svg class="glyph stroked landscape">
                        <use xlink:href="#stroked-landscape" />
                    </svg>Quản lý khu vực trang trại
                </a>
            </li>

            <li>
                <a asp-action="FishCategoryAdmin" asp-controller="FishCategoryAdmin">
                    <svg class="glyph stroked eye">
                        <use xlink:href="#stroked-eye" />
                    </svg>Quản lý chủng loại cá
                </a>
            </li>
            <li>
                <a asp-action="ConfirmFishAdmin" asp-controller="FishCategoryAdmin">
                    <svg class="glyph stroked eye">
                        <use xlink:href="#stroked-eye" />
                    </svg>Quản lý sát nhận loại cá
                </a>
            </li>
            <li>
                <a asp-action="HistoryDelete" asp-controller="AccountAdmin">
                    <svg class="glyph stroked trash">
                        <use xlink:href="#stroked-trash" />
                    </svg>Quản lý lịch sử xóa
                </a>
            </li>
        </ul>

    </div>

    @RenderBody()

    <script src="~/js/jquery-1.11.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/bootstrap-table.js"></script>
    <script src="~/js/notication_admin.js"></script>	
    <script src="~/js/image.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
    <script src="~/js/ChartAdmin.js"></script>
</body>

</html>